.hs {
  .con {

  }
  .title {
    color: white;
    margin-left: 25px;
    font-size: 18px;
    font-weight: bold;
    .con {

    }
  }
  .content {
    .con {
      width: 100%;
      white-space: nowrap;
      overflow-x: auto;
    }
  }
  .item {
    width: 10px;
    height: 10px;
    color: transparent;
    background-color: transparent;
    a{
      width: 100%;
      height: 100%;
    }
  }
}